# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\src\qt\irreducible_polynomials\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
